body{
    background-color: rgb(31, 31, 31);
    font-family: 'Public Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(31, 31, 31);
    height: 80px;
    align-items: center;
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.logo{
    background-image: url("picture/svt_play.png");
    background-size: 35%;
    background-repeat: no-repeat;
    position: relative;
    top:5px;
    width: 250px;
    height: 25px;
    margin-left: 36px;
    cursor: pointer;
}

.nav-bar{
    display: grid;
    grid-auto-columns: 1fr 1fr;
}

ul li{
    display: inline-block;
    margin-right: 60px;
    align-items: center;
}

nav div{
    padding: 20px;
    color:white;
    display: flex;
    align-items: center;
}

.left-nav{
    gap:10px;
}

.right-nav{
    margin-left: auto;
}

.section1{
    display: flex;
    margin: 5px 50px;
}

.section1 div{
    width:50%;
    margin: 5px;
    height: 500px;
    transition: background-color 1s;
}

.section1 div:hover{
    background-color: rgba(50, 36, 36, 0.5);
}

.search-bar{
    border-radius: 50px;
    height: 15px;
    padding:10px;
    margin-left: 800px;
}

.section2{
    display: flex;
    margin: 5px 50px;
}

.section2 div{
    flex:1;
    height: 160px;
    margin: 5px;
    cursor:pointer;
    transition: backingtrack 1s;
    transition: background-color 1s;
}

.section2 div:hover{
    background-color: rgb(55, 55, 55);
}

.one img{
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.two{
    background-color: rgb(50, 36, 36);
    color:white;
    text-align: center;
    cursor: pointer;
    transition: background-color 1s;
}

.two h1{
    font-size: 42px;
}

.two:hover{
    background-color: rgb(55, 55, 55);
}

.two h1:hover{
    text-decoration: underline;
}

/*ROW 3*/

.container3{
    display: flex;
    flex-direction: column;
}

.three-description{
    color:white;
}

.three img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container4{
    display: flex;
    flex-direction: column;
}

.four-description{
    color:white;
}

.four img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container5{
    display: flex;
    flex-direction: column;
}

.five-description{
    color:white;
}

.five img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container6{
    display: flex;
    flex-direction: column;
}

.six-description{
    color: white;
}

.six img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container7{
    display: flex;
    flex-direction: column;
}

.seven-description{
    color:white;
}

.seven img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}