body{
    background-color: rgb(31, 31, 31);
    font-family: 'Public Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(31, 31, 31);
    height: 80px;
    align-items: center;
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.logo{
    background-image: url("picture/svt_play.png");
    /*background-size: 35%;*/
    background-size: 80%;
    background-repeat: no-repeat;
    position: relative;
    top:0px;
    width: 70px;
    margin-left: 86px;
    cursor: pointer;
}

.nav-bar{
    display: grid;
    grid-auto-columns: 1fr 1fr;
    background-color: black;
}

ul li{
    display: inline-block;
    margin-right: 60px;
    align-items: center;
}

nav div{
    padding: 20px;
    color:white;
    display: flex;
    align-items: center;
}

.left-nav{
    gap:10px;
}

.search-bar{
    border-radius: 50px;
    height: 15px;
    padding:10px;
    margin-left: 925px;
}

/*TEST*/
.section1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 5px 102px;
}
/*
.section1{
    display: flex;
    margin: 5px 100px;
}
*/

.section1 div{
    /*width:50%;*/
    margin: 5px;
    height: 580px;
    transition: background-color 1s;
}

.section1 div:hover{
    background-color: rgba(50, 36, 36, 0.5);
}

.section2{
    display: flex;
    margin: 5px 100px;
}

.section2 div{
    flex:1;
    height: 160px;
    margin: 5px;
    cursor:pointer;
    transition: backingtrack 1s;
    transition: background-color 1s;
}

.section2 div:hover{
    background-color: rgb(55, 55, 55);
}

.one img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
    cursor: pointer;
}

.two{
    background-color: rgb(50, 36, 36);
    color:white;
    text-align: center;
    cursor: pointer;
    transition: background-color 1s;
}

.two h1{
    font-size: 42px;
}

.two:hover{
    background-color: rgb(55, 55, 55);
}

.two h1:hover{
    text-decoration: underline;
}

/*ROW 3*/

.container3{
    display: flex;
    flex-direction: column;
}

.three-description{
    color:white;
}

.three img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container4{
    display: flex;
    flex-direction: column;
}

.four-description{
    color:white;
}

.four img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container5{
    display: flex;
    flex-direction: column;
}

.five-description{
    color:white;
}

.five img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container6{
    display: flex;
    flex-direction: column;
}

.six-description{
    color: white;
}

.six img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container7{
    display: flex;
    flex-direction: column;
}

.seven-description{
    color:white;
}

.seven img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*FORTSÄTTNING*/
/*KOLLA SECTION 2 och JÄMFÖR FÖR ATT PASSA AFFISHECERNA BÄTTRE I DIV*/
.section3{
    background-color: rgb(57, 22, 87);
    display: flex;
    height: 550px;
    margin: 260px 100px;
}

.section3 div{
    flex:1;
    height: 500px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 0px;
    cursor:pointer;
    transition: backingtrack 1s;
    transition: background-color 1s;
}

.section3 div:hover{
    background-color: rgb(55, 55, 55);
}

.section3-1{
    color:rgb(227, 61, 141);
    font-size: 28px;
}

.button3-1{
    margin-top:250px;
    margin-left: 25px;
    border-radius: 25px;
    width:100px;
    height: 40px;
    cursor: pointer;
}

.section3-1 h1{
    font-weight: 1;
    margin-left: 25px
}

.section3-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */

body{
    background-color: rgb(0,0,0);
    font-family: 'Public Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.footer-container{
    color:white;
}

.footer-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
}

.footer-top li{
    margin-bottom: 30px;
}

.footer-top ul{
    list-style-type: none;
}

.footer-top a{
    color:white;
    text-decoration: none;
}

.footer-top a:hover{
    text-decoration: underline;
}

hr{
    border:none;
    height:1px;
    background-color: grey;
    margin:40px;
}

.footer-middle{
    /*display:inline-block;*/
    text-align: center;
}

.footer-middle figure{
    display: inline-block;
}

.footer-middle figure a{
    color:white;
    text-decoration: underline;
}

.footer-middle ul{
    list-style-type: none;
    text-decoration: underline;
}

.footer-bottom{
    /*display: grid;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom button{
    cursor: pointer;
    margin: 5px;
    border-radius: 40px;
    padding:10px;
    background-color:rgb(27, 26, 26);
    color:white;
    border: none;
    text-align: center;
}

.footer-bottom button:hover{
    background-color:rgb(45,45,45);
}

.footer-bottom-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}

.footer-bottom-links{
    padding-bottom:30px;
}

.footer-bottom-links ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-links a{
    color:white;
    text-decoration: underline;
    margin-left: 25px;
}

