body{
    background-color: rgb(0,0,0);
    font-family: 'Public Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.footer-container{
    color:white;
}

.footer-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
}

.footer-top li{
    margin-bottom: 30px;
}

.footer-top ul{
    list-style-type: none;
}

.footer-top a{
    color:white;
    text-decoration: none;
}

.footer-top a:hover{
    text-decoration: underline;
}

hr{
    border:none;
    height:1px;
    background-color: grey;
    margin:40px;
}

.footer-middle{
    /*display:inline-block;*/
    text-align: center;
}

.footer-middle figure{
    display: inline-block;
}

.footer-middle figure a{
    color:white;
    text-decoration: underline;
}

.footer-middle ul{
    list-style-type: none;
    text-decoration: underline;
}

.footer-bottom{
    /*display: grid;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom button{
    cursor: pointer;
    margin: 5px;
    border-radius: 40px;
    padding:10px;
    background-color:rgb(27, 26, 26);
    color:white;
    border: none;
    text-align: center;
}

.footer-bottom button:hover{
    background-color:rgb(45,45,45);
}

.footer-bottom-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}

.footer-bottom-links{
    padding-bottom:30px;
}

.footer-bottom-links ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-links a{
    color:white;
    text-decoration: underline;
    margin-left: 25px;
}
